$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__sans: 'Roboto', sans-serif;
$font__cursive: 'Shadows Into Light', 'Roboto Mono', Courier, Monaco, Consolas, monospace;
$font__weight-light: 400;
$font__weight-medium: 600;
$font__weight-black: 900;
$font__mono: 'Roboto Mono', Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
